*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e6e6e6;
}

#area-cabecalho{
padding: 0.9rem;  
background-color: #f7b600; 
text-align: center; 

}

#area-logo, #area-menu{
    padding: 0.7rem;
}

.logo-branco{
    color: #ffff;
}

#area-menu a{
    color: black;
    text-decoration: none;
    border-radius: 27px;
}

#area-menu a:link, #area-menu a:visited{
    /* background-color: #ffff; */
    padding: 8px 12px;
}

#area-menu a:hover{
    background-color: rgb(0, 0, 0);
    color: #f7b600;
}
